* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 5%;
}

body {
    background-color: #a1d6e6;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    font-family: Andale Mono, monospace;
}

.AppCard {
    background: #faf9f6;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    width: 240px;
    margin: 20px;
    float: left;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
}

.AppCard h1 {
    font-size: 1.3em;
    margin: 6% auto;
}

.AppCard p {
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.AppCard button {
    background: #b2beb5;
    color: #fff;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}

form.create-note {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #faf9f6;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    background: #faf9f6;
    resize: none;
}

form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #b2beb5;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.cardbutton:hover {
    background-color: lightgray;
}

.cardbutton {
    border-radius: 50%;
    margin: 1%;
}

.dream-nav-bar {
    background-color: #b2beb5;
    opacity: 0.8;
    height: 4.5rem;
    margin-bottom: 4.5rem !important;
}

.dream-nav-brand {
    opacity: 1;
    font-size: 2.5rem;
    font-family: Gabriola;
}