* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    padding-bottom: 5%;
}

body {
    background-color: #a1d6e6;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    font-family: Palatino, URW Palladio L, serif;
}

.AppCard {
    background: #faf9f6;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    margin: 20px;
    float: left;
    background-image: url("https://www.transparenttextures.com/patterns/back-pattern.png");
    width: 30%;
    height: 350px;
    overflow-y: auto;
    padding: 2.5%;
    padding-top: 2%;
    text-align: justify;
    text-justify: inter-word;
}

.AppCard h1 {
    font-size: 1.2em;
    margin: 4% auto 6% auto;
    text-align: center;
}

.AppCard p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.AppCard button {
    background: #b2beb5;
    color: #fff;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: none;
}

form.create-note {
    position: relative;
    width: 480px;
    margin: 25px auto 20px auto;
    background: #faf9f6;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,
form.create-note textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    background: #faf9f6;
    resize: none;
}

form.create-note button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #b2beb5;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.cardbutton:hover {
    background-color: lightgray;
}

.cardbutton {
    border-radius: 50%;
}

.item-date {
    color: #b2beb5;
    font-size: 1.1rem;
    margin-top: 7%;
}

.dream-nav-bar {
    background-color: #b2beb5;
    opacity: 0.82;
    height: 4.5rem;
    margin-bottom: 4.5rem !important;
}

.dream-nav-brand {
    opacity: 1;
    font-size: 2.5rem;
    font-family: Gabriola;
}

.nav-link {
    color: white !important;
    font-size: 1.3rem !important;
}

.welcome {
    color: white !important;
    font-size: 1.3rem !important;
    width: 12rem !important;
    margin: auto;
}